<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New tour</title>
</head>
<body>
<form th:method="POST" th:action="@{/tours}" th:object="${tour}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="pricePerPerson">Enter pricePerPerson: </label>
    <input type="number" th:field="*{pricePerPerson}" id="pricePerPerson"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>