<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All tours</title>
</head>
<body>
<div th:insert="~{fragments/menu::#nav-menu}"></div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>PricePerPerson</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tour : ${tours}">
        <td th:text="${tour.name}"></td>
        <td th:text="${tour.pricePerPerson}"></td>
        <td><a th:href="@{tours/{id}/bucket(id=${tour.id})}">Add to bucket</a> </td>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">
<a th:href="@{/tours/new}">New tour</a>
</div>
</body>
</html>