<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All purchases</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>TourId</th>
        <th>UserId</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchase : ${purchases}">
        <td th:text="${purchase.id}"></td>
        <td th:text="${purchase.name}"></td>
        <td th:text="${purchase.tourId}"></td>
        <td th:text="${purchase.userId}"></td>
    </tr>
    </tbody>
</table>
<a href="/purchases/new">New purchase</a>
</body>
</html>